
:root{
    --left:900px;
    --top:343px;
}
body{
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;      
    width: 100%;
    margin: 0; 
    border: 5px solid darkolivegreen;
    overflow: hidden;
}
.main{    
    background-image: url(./images/forest.jpg);  
    display: flex;
    flex-direction: column;    
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;   */
    justify-content: center;
    align-items:center;
    
}
.score{
    width: 100%;    
    margin-right: 10%;
    margin-bottom: 10%;   
    display: flex;
    flex-direction: column;
    
}
.scoreContent{
    font-size: 30px;
    text-align: end;
}

.start{
    width: 30%;
    height: 100%;
    background-color:rgb(227, 227, 227);
    color: darkslategrey;
    font-size:large;
    padding: 2%;
    font-family: Helvetica;
    box-shadow: 2px 2px 2px 2px grey;
    margin-bottom: 10%;
}
.hide{
    opacity: 0%;
}
button{
    font-size: 15px;
    font-family: Helvetica;

}
img{
    position: absolute;
}
img.imagedetails{
    content: url("./images/cricket2.png");   
    width: 15%;
    position:absolute;
    left:var(--left);
    top: var(--top);       
}